body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7eeee;
    margin-top: 50px;
}

.container {
    margin-top: 50px;
    width: 70vw;
    height: auto;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo {
    padding-top: 20px;
    font-size: xx-large;
}

#instrucoes {
    margin-top: 30px;
    font-weight: 700;
}

#formato-do-texto {
    margin-top: 30px;
    font-weight: 600;
}

.box label {
    margin-top: 25px;
}

#txt-numero-processo {
    margin-top: 25px;
    width: 200px;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}

#btn-consultar {
    margin: 20px 0 20px 0;
    width: 100px;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#btn-consultar:hover {
    transform: scale(1.1);
}


.resultado-da-busca {
    margin: 35px 0 35px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btnNovaConsulta {
    align-self: center;
    margin-top: 20px;
    width: 150px;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#btnNovaConsulta:hover {
    transform: scale(1.1);
}

.mostrar-resultado {
    display: block;
    background-color: #c0eff0;
    padding: 10px;
    font-weight: bold;
}

.hidden {
    display: none;
}

#msgErro {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 5px;
    color: #ff0000;
    font-weight: bold;
}